<!--
============================================
; Title: Assignment 5.4
; File Name: header.ejs
; Author: Professor Krasso 
; Date: 3 February 2022
; Modified By: Laura Kendl
; Description: Demonstrates how to build EJS templates.
; Resources:
; Blackboard: Code provided by Professor Krasso in WEB340 Assignment 5.4 Outline
; GitHub: https://github.com/buwebdev/web-340/blob/master/fms/views/header.ejs (Code provided by Professor Krasso in web-340/fms/views/header.ejs repository file)
;===========================================
-->

<head>

    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  
    <title><%- title %></title>

    <!-- Link to External Stylesheets -->
    <link rel="stylesheet" href="css/main.css">

    <!-- Google Font Kits -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    
  </head>