<!--
============================================
; Title: Assignment 3.4
; Author: Professor Krasso 
; Date: 20 January 2022
; Modified By: Laura Kendl
; Description: Demonstrates how routing, HTTP requests, Express middleware,
; logging, and sending data to and from the server works.
; Resources:
; Blackboard: Code provided by Professor Krasso in WEB340 Assignment 3.4 Outline
;===========================================
-->

    <%- include ("header") %>
    <div role="main" class="container">
        <br/><br/>
        <h2>Welcome to the <%= message %>!</h2>
    </div>
    <%- include ("footer") %>